# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
env/
venv/
.env

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
